{% extends "base.html" %}

{% block content %}
    <h2>Acerca del Proyecto</h2>
    <p>
        Este sistema fue desarrollado para gestionar el inventario de un supermercado,
        aplicando <strong>POO</strong>, <strong>Colecciones</strong> y <strong>SQLite</strong>.
    </p>
    <p>Funciones principales:</p>
    <ul>
        <li>📦 Añadir productos</li>
        <li>🗑 Eliminar productos</li>
        <li>♻ Actualizar precios y cantidades</li>
        <li>🔎 Buscar productos</li>
    </ul>
{% endblock %}

